body{
  border-top:5px solid #777;
  font-family:'Roboto';
  font-size:14px;
  margin:0;
}
.wrapper{
  max-width:800px;
  margin:20px auto 0 auto;
  padding:0 20px;
}
section{
  border-bottom:1px dotted #aaa;
  padding-bottom:20px;
}
a{
  text-decoration:none;
  color:#25c;
}
a:hover{
  text-decoration:underline;
}
li{
  list-style-position:inside;
}


/* common elements */
.heading{
  font-family:'Rokkitt';
  font-size:1.5em;
  line-height:1.5em;
  text-align:right;
  background:#333;
  padding:3px 10px;
  color:#fff;
  width:200px;
  float:right;
  margin-bottom:10px;
}
.clear{
  clear:both;
}

/* intro section */
h1{
  margin:0;
  font-family:'Rokkitt';
  font-size: 2.5.5.5.5.5em;
}
.me{
  float:left;
}
.me img{
  margin-top:-15px;
}
.contact{
  position:relative;
  text-align:right;
}
.email{
  color:#25c;
}
.lang{
  font-style:italic;
}

/* experience */
.experience{
  margin-bottom:30px;
}
.title{
  font-weight:bold;
  font-family:'Rokkitt';
  font-size:1.5em;
}
.position{
  font-size:0.9em;
}
.duration{
  font-size:0.9em;
}
.workDone{
  margin:0;
  padding:5px 0 0;
  color:#333;
  line-height:1.5em;
}

/* education */
.education{
  margin-bottom:30px;
}
.skill{
  margin-bottom:30px;
}



/* Media queries for smaller screen sizes */
@media all and (max-width: 500px) {
  .me{
    float:none;
    width:auto;
    text-align:center;
  }
  .me img{
    width:100%;
  }
  .contact{
    text-align:center;
  }
  .heading{
    width:auto;
    float:none;
    text-align:center;
  }
  #sidebar ul li a {
    padding-left: 21px;
    background: url(../images/email.png) left center no-repeat;
  }
}
